In [95]:
import pickle 
import enchant

# Multi Token

In [105]:
open_file = open('set_romanHTs.pkl', "rb")
hashtags = pickle.load(open_file)
open_file.close()

In [106]:
len(hashtags)

7861

In [107]:
h1 = set(hashtags)
len(h1)

7861

In [108]:
english_dict = enchant.Dict("en_US")

In [109]:
single_eng = []
rest = []
for elt in hashtags:
    if english_dict.check(elt.lower()):
        single_eng.append(elt)
    else:
        rest.append(elt)

In [110]:
len(single_eng)

166

In [111]:
len(rest)

7695

In [112]:
multi_token1 = set(rest)
len(multi_token1)

7695

In [8]:
import csv
outputStr = ""
for elt in rest: 
    outputStr += elt + "\t" + "roman" + "\n"

with open('multi_token_hashtags_with_source.tsv', 'w', newline='') as f_output:
    f_output.write(outputStr)

In [113]:
open_file = open('set_electionHTs.pkl', "rb")
hashtags = pickle.load(open_file)
open_file.close()

In [114]:
len(hashtags)

720348

In [115]:
h2 = set(hashtags)
len(h2)

720348

In [116]:
print('Total number of hashtags collected:', len(h1.union(h2)))

Total number of hashtags collected: 726358

In [117]:
single_eng = []
rest = []
for elt in hashtags:
    if english_dict.check(elt.lower()):
        single_eng.append(elt)
    else:
        rest.append(elt)

In [118]:
len(single_eng)

40129

In [119]:
len(rest)

680219

In [120]:
multi_token2 = set(rest)
len(multi_token2)

680219

In [121]:
print('Total number of multi token hashtags collected:', len(multi_token1.union(multi_token2)))

Total number of multi token hashtags collected: 686208

In [14]:
import csv
outputStr = ""
for elt in rest: 
    outputStr += elt + "\t" + "election" "\n"

with open('multi_token_hashtags_with_source.tsv', 'a', newline='') as f_output:
    f_output.write(outputStr + "\t" + "roman")

# Non Separable

In [15]:
import pandas as pd
import re

In [158]:
df = pd.read_csv('multi_token_hashtags_with_source.tsv', header=None, sep='\t')
df.columns = ['Hashtag', 'Source']
df.head()

              Hashtag Source
0        TXTWeLoveYou  roman
1  varunchakaravarthy  roman
2     SuvanConfession  roman
3   endbengalviolence  roman
4         MirzaGhalib  roman

In [159]:
df = df.dropna()
len(df)

686206

In [160]:
df = df.drop_duplicates(subset ="Hashtag")
len(df)

686206

In [162]:
df.to_csv('multi_token_hashtags_with_source.tsv', header=None, sep='\t', index=False)

In [18]:
def camelCase_split(string):
    splitted = re.finditer('.+?(?:(?<=[a-z])(?=[A-Z])|(?<=[A-Z])(?=[A-Z][a-z])|$)', string)
    splitted_list = [m.group(0) for m in splitted]
    return ' '.join(splitted_list)

In [19]:
camelCase_split('HelloAkshalaBhatnagar')

'Hello Akshala Bhatnagar'

In [20]:
def underscore_split(string):
    splitted_list = string.split('_')
    return ' '.join(splitted_list)

In [21]:
underscore_split('hello_Akshala Bhatnagar')

'hello Akshala Bhatnagar'

In [22]:
not_separable = pd.DataFrame(columns=['Hashtag', 'Source'])

In [23]:
separable = pd.DataFrame(columns=['Hashtag', 'Source'])

In [24]:
not_separable_count = 0
separable_count = 0
for index, row in df.iterrows():
    camel_case_separated = camelCase_split(row['Hashtag'])
    final_separated = underscore_split(camel_case_separated)
    if final_separated == row['Hashtag']:
        not_separable = not_separable.append(row)
        not_separable_count += 1
    else:
        separable.loc[separable_count] = [final_separated, row['Source']]
        separable_count += 1

In [25]:
not_separable.drop_duplicates(keep = False, inplace = True) 
not_separable.head()

              Hashtag Source
1  varunchakaravarthy  roman
3   endbengalviolence  roman
6                avfc  roman
8           merryxmas  roman
9              Arya30  roman

In [26]:
len(not_separable)

337156

In [27]:
separable.drop_duplicates(keep = False, inplace = True) 
separable.head()

                 Hashtag Source
0        TXT We Love You  roman
1       Suvan Confession  roman
2           Mirza Ghalib  roman
3     Too Much Democracy  roman
4  Sahibzada Fateh Singh  roman

In [28]:
len(separable)

342805

In [29]:
not_separable.to_csv('not_separable_with_source.csv')

In [30]:
separable.to_csv('separable_with_source.csv')

In [89]:
not_separable = pd.read_csv('not_separable_with_source.csv')

In [91]:
not_separable = not_separable.drop_duplicates(subset ="Hashtag")
not_separable.head()

   Unnamed: 0             Hashtag Source
0           1  varunchakaravarthy  roman
1           3   endbengalviolence  roman
2           6                avfc  roman
3           8           merryxmas  roman
4           9              Arya30  roman

In [131]:
print('Multi token not separable hashtags:', len(not_separable))

Multi token not separable hashtags: 336312

In [94]:
not_separable.to_csv('not_separable_with_source.csv')

In [126]:
separable = pd.read_csv('separable_with_source.csv')

In [127]:
separable = separable.drop_duplicates(subset ="Hashtag")
separable.head()

   Unnamed: 0                Hashtag Source
0           0        TXT We Love You  roman
1           1       Suvan Confession  roman
2           2           Mirza Ghalib  roman
3           3     Too Much Democracy  roman
4           4  Sahibzada Fateh Singh  roman

In [128]:
len(separable)

342051

In [129]:
separable.to_csv('separable_with_source.csv')

# Non eng

In [31]:
not_seaparable_hashtags = pd.read_csv('not_separable_with_source.csv')

In [32]:
not_seaparable_hashtags = not_separable['Hashtag']
type(not_seaparable_hashtags)

pandas.core.series.Series

In [33]:
not_seaparable_hashtags.to_csv('not_separable_hashtags_with_source.tsv', sep='\t')

In [34]:
df = pd.read_csv('not_separable_hashtags_with_source.tsv', sep='\t')
df.head()

   Unnamed: 0             Hashtag
0           1  varunchakaravarthy
1           3   endbengalviolence
2           6                avfc
3           8           merryxmas
4           9              Arya30

In [35]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

              Hashtag
0  varunchakaravarthy
1   endbengalviolence
2                avfc
3           merryxmas
4              Arya30

In [36]:
df.to_csv('not_separable_hashtags_with_source.tsv', sep='\t', header=False, index=False)

In [37]:
!python hashtag_master-master/word_breaker/main.py --k 10 --lm hashtag_master-master/data/small_gt.bin --out not_separable_hashtags_with_source_topk.tsv --input not_separable_hashtags_with_source.tsv

Loading language model.
Done.
Extracting top segmentations.

In [38]:
df = pd.read_csv('not_separable_hashtags_with_source_topk.tsv', sep='\t', header=None, names=['Hashtag', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df.head()

,Hashtag,1,2,3,4,5,6,7,8,9,10
0,varunchakaravarthy,varun cha kara var thy,varun chaka rava r thy,varun chaka ra var thy,varun chaka rava rt hy,varun chaka r a var thy,varun chaka rav art hy,varun chaka rav ar thy,varun ch akara var thy,varun chaka rava rt h y,varun cha kar a var thy
1,endbengalviolence,end bengal violence,en d bengal violence,e nd bengal violence,end ben gal violence,e n d bengal violence,end b engal violence,end benga l violence,end ben g a l violence,end beng al violence,end bengal violenc e
2,avfc,a vfc,av fc,a v fc,a vf c,av f c,a v f c,avfc,avf c,NaN,NaN
3,merryxmas,merry xmas,merry x mas,merry xm as,m erry xmas,me r r y xmas,merry x m as,merry xma s,mer ry xmas,me r r y x mas,merry xm a s
4,Arya30,Arya 30,Ary a 30,Ar ya 30,A r ya 30,A rya 30,A ry a 30,Arya 3 0,A r y a 30,Ar y a 30,Ar ya 3 0

In [39]:
non_eng_df = pd.DataFrame(columns=['Hashtag', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [40]:
for index, row in df.iterrows():
    try:
        segmented = row['1'].split()
        flag = 0
        for elt in segmented:
            if not elt.isnumeric() and not english_dict.check(elt.lower()):
                flag = 1
        if flag:
            non_eng_df = non_eng_df.append(row)
    except AttributeError:
        pass

In [41]:
non_eng_df.head()

,Hashtag,1,2,3,4,5,6,7,8,9,10
0,varunchakaravarthy,varun cha kara var thy,varun chaka rava r thy,varun chaka ra var thy,varun chaka rava rt hy,varun chaka r a var thy,varun chaka rav art hy,varun chaka rav ar thy,varun ch akara var thy,varun chaka rava rt h y,varun cha kar a var thy
1,endbengalviolence,end bengal violence,en d bengal violence,e nd bengal violence,end ben gal violence,e n d bengal violence,end b engal violence,end benga l violence,end ben g a l violence,end beng al violence,end bengal violenc e
2,avfc,a vfc,av fc,a v fc,a vf c,av f c,a v f c,avfc,avf c,NaN,NaN
3,merryxmas,merry xmas,merry x mas,merry xm as,m erry xmas,me r r y xmas,merry x m as,merry xma s,mer ry xmas,me r r y x mas,merry xm a s
4,Arya30,Arya 30,Ary a 30,Ar ya 30,A r ya 30,A rya 30,A ry a 30,Arya 3 0,A r y a 30,Ar y a 30,Ar ya 3 0

In [42]:
len(non_eng_df)

227855

In [43]:
non_eng_df.to_csv('nonEng_notSeparable_multiToken_withSource.csv')

In [132]:
non_eng_df = pd.read_csv('nonEng_notSeparable_multiToken_withSource.csv')

In [135]:
non_eng_df = non_eng_df.drop_duplicates(subset ="Hashtag")
print('Non english, not separable, multi token hashtags:', len(non_eng_df))

Non english, not separable, multi token hashtags: 227172

In [136]:
non_eng_df.to_csv('nonEng_notSeparable_multiToken_withSource.csv')

# Final Segmentation

In [44]:
non_eng_df = pd.read_csv('nonEng_notSeparable_multiToken_withSource.csv')

In [45]:
nonEng_hashtags = non_eng_df['Hashtag']
type(nonEng_hashtags)

pandas.core.series.Series

In [46]:
nonEng_hashtags.to_csv('nonEng_notSeparable_multiToken_hashtags_withSource.tsv', sep='\t')

In [47]:
df = pd.read_csv('nonEng_notSeparable_multiToken_hashtags_withSource.tsv', sep='\t')
df.head()

   Unnamed: 0             Hashtag
0           0  varunchakaravarthy
1           1   endbengalviolence
2           2                avfc
3           3           merryxmas
4           4              Arya30

In [48]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

              Hashtag
0  varunchakaravarthy
1   endbengalviolence
2                avfc
3           merryxmas
4              Arya30

In [49]:
df.to_csv('nonEng_notSeparable_multiToken_hashtags_withSource.tsv', sep='\t', header=False, index=False)

In [50]:
!python hashtag_master-master/word_breaker/main.py --k 10 --lm bigger_model.binary --out nonEng_notSeparable_multiToken_hashtags_withSource_topk.tsv --input nonEng_notSeparable_multiToken_hashtags_withSource.tsv

Loading language model.
Done.
Extracting top segmentations.

In [138]:
df = pd.read_csv('nonEng_notSeparable_multiToken_hashtags_withSource_topk.tsv', sep='\t', header=None, names=['Hashtag', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df.head()

,Hashtag,1,2,3,4,5,6,7,8,9,10
0,varunchakaravarthy,varunchakaravarthy,varunchakaravarth y,v arunchakaravarthy,va runchakaravarthy,varun chakaravarthy,varunchakaravar thy,var unchakaravarthy,varunchakaravart hy,varu nchakaravarthy,varunchakarav arthy
1,endbengalviolence,endbengalviolence,endbengalviolenc e,e ndbengalviolence,en dbengalviolence,endbengalviolen ce,endbengal violence,end bengalviolence,end bengal violence,endbengalviole nce,endbengalviol ence
2,avfc,avfc,av fc,a vfc,av f c,avf c,a v fc,a v f c,a vf c,NaN,NaN
3,merryxmas,merry xmas,merry x mas,merryxmas,merryxm as,merryxma s,m erryxmas,me rryxmas,merryx mas,merry xm as,mer ryxmas
4,Arya30,Arya30,Arya 30,A rya30,Arya 3 0,Ary a30,Arya3 0,Ary a 30,Ar ya30,A rya 30,Ar y a 30

In [139]:
len(df)

227855

In [140]:
df = df.drop_duplicates(subset ="Hashtag")
len(df)

227172

In [141]:
df.to_csv('nonEng_notSeparable_multiToken_hashtags_withSource.tsv', sep='\t', header=False, index=False)

In [144]:
df_source = pd.read_csv('multi_token_hashtags_with_source.tsv', header=None, sep='\t')
df_source.columns = ['Hashtag', 'Source']
df_source.head()

              Hashtag Source
0        TXTWeLoveYou  roman
1  varunchakaravarthy  roman
2     SuvanConfession  roman
3   endbengalviolence  roman
4         MirzaGhalib  roman

In [145]:
len(df_source)

687915

In [146]:
df_source = df_source.drop_duplicates(subset ="Hashtag")
len(df_source)

686207

In [147]:
df_final = pd.merge(df, df_source, how='inner', on=['Hashtag'])
df_final.head()

,Hashtag,1,2,3,4,5,6,7,8,9,10,Source
0,varunchakaravarthy,varunchakaravarthy,varunchakaravarth y,v arunchakaravarthy,va runchakaravarthy,varun chakaravarthy,varunchakaravar thy,var unchakaravarthy,varunchakaravart hy,varu nchakaravarthy,varunchakarav arthy,roman
1,endbengalviolence,endbengalviolence,endbengalviolenc e,e ndbengalviolence,en dbengalviolence,endbengalviolen ce,endbengal violence,end bengalviolence,end bengal violence,endbengalviole nce,endbengalviol ence,roman
2,avfc,avfc,av fc,a vfc,av f c,avf c,a v fc,a v f c,a vf c,NaN,NaN,roman
3,merryxmas,merry xmas,merry x mas,merryxmas,merryxm as,merryxma s,m erryxmas,me rryxmas,merryx mas,merry xm as,mer ryxmas,roman
4,Arya30,Arya30,Arya 30,A rya30,Arya 3 0,Ary a30,Arya3 0,Ary a 30,Ar ya30,A rya 30,Ar y a 30,roman

In [148]:
len(df_final)

227172

In [149]:
df_final = df_final.drop_duplicates(subset ="Hashtag")

In [150]:
h1 = set(list(df['Hashtag']))
h2 = set(list(df_source['Hashtag']))
len(h1), len(h2), len(h1.intersection(h2))

(227172, 686207, 227172)

In [151]:
df_final.to_csv('finalSegmented_withSource.csv')